<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopify Cheat Sheet</title>
    <meta name="description" content="Important shopify codes">
    <link rel="stylesheet" href="styles.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-THJCZ9D0BG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-THJCZ9D0BG');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7327482612862222"
        crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <div class="container">

            <div class="title">
                <h1>Shopify Cheat Sheet</h1>
            </div>
            <div class="page_flex">
                <div class="sidebar">
                    <a class="side_title" href="javascript:void(0)" data-id="css">
                        Apply CSS / JS
                    </a>
                    <a class="side_title" href="javascript:void(0)" data-id="apps">
                        Apps
                    </a>
                    <a class="side_title" href="javascript:void(0)" data-id="blocks">
                        Blocks
                    </a>
                    <a class="side_title" href="javascript:void(0)" data-id="buy-now">
                        Buy now button
                    </a>
                    <a class="side_title" href="javascript:void(0)" data-id="collection">
                        Collecton picker
                    </a>
                    <a class="side_title" href="javascript:void(0)" data-id="quantity">
                        Custom Quantity (plus and minus)
                    </a>
                    <a class="side_title" href="javascript:void(0)" data-id="blogs">
                        Display all blogs
                    </a>
                    <a class="side_title" href="javascript:void(0)" data-id="metafields">
                        Metafields
                    </a>
                    <a class="side_title" href="javascript:void(0)" data-id="preset">
                        Preset
                    </a>
                </div>
                <div class="content">
                    <div class="tab_info css">
                        <h2>CSS / JS in Blog inner page</h2>
                        <pre>
                        <xmp>
                            {% if article %}
                                {{ 'blog-inside.css' | asset_url | stylesheet_tag }}
                            {% endif %}
                        </xmp>
                        </pre>

                        <h2>CSS / JS in Product inner page</h2>
                        <pre>
                        <xmp>
                            {%- if product.id -%}
                                <link rel="stylesheet" href="{{ 'custom-product.css' | asset_url }}">
                            {%- endif -%}
                        </xmp>
                        </pre>

                        <h2>CSS / JS in Account pages (Register, Login,...)</h2>
                        <pre>
                        <xmp>
                            {% if account.id %}
                                <link rel="stylesheet" href="{{ 'account.css' | asset_url }}">
                            {%- endif -%}
                        </xmp>
                        </pre>

                        <h2>CSS / JS in Specific pages</h2>
                        <pre>
                        <xmp>
                            {% if page.handle == 'about' %}
                                <style>
                                    .about{
                                        background-color: red;
                                    }
                                </style>
                            {%- endif -%}
                        </xmp>
                        </pre>


                    </div>

                    <div class="tab_info apps">
                        <h2>
                            Instagram feed:
                        </h2>
                        <h2 class="diff">
                            Socialwidget ‑ Instagram Feed
                        </h2>
                        <a href="https://apps.shopify.com/instafeed-socialwidget"
                            target="_blank">https://apps.shopify.com/instafeed-socialwidget</a>

                        <h2 class="diff">Store locator</h2>
                        <a href="https://stockist.co/" target="_blank">https://stockist.co/</a>
                    </div>

                    <div class="tab_info blocks">
                        <h2>HTML</h2>
                        <pre>
                            <xmp>
                                {% for block in section.blocks %}
                                <div>{{ block.settings.id_one }}</div>
                                <p>{{ block.settings.id_two }}</p>
                                <img src="{{ block.settings.id_three | image_url: width: master }}">
                                {% endfor %}
                            </xmp>
                        </pre>

                        <h2>Schema</h2>
                        <pre>
                            <xmp>
                                {% schema %}
                                {
                                    "name": "Section name",
                                    "blocks": [
                                    {
                                        "type": "text",
                                        "name": "slide",
                                        "settings": [
                                            {
                                            "type": "text",
                                            "id": "id_one",
                                            "label": "Title",
                                            },
                                            {
                                                "type": "textarea",
                                                "id": "id_two",
                                                "label": "Description"
                                                },
                                            {
                                            "type": "image_picker",
                                            "id": "id_three",
                                            "label": "Image"
                                            }
                                        ]
                                    }
                                    ]
                                }
                                {% endschema %}
                            </xmp>
                        </pre>
                    </div>

                    <div class="tab_info buy-now">
                        <h2>Quick buy now button</h2>
                        <pre>
                            <xmp>
                                {{ form | payment_button }}
                            </xmp>
                        </pre>
                    </div>

                    <div class="tab_info collection">
                        <h2>HTML</h2>
                        <pre>
                            <xmp>
                                {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
                                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                                    {% render 'card-product',
                                    card_product: product,
                                    media_aspect_ratio: section.settings.image_ratio,
                                    show_secondary_image: section.settings.show_secondary_image,
                                    show_vendor: section.settings.show_vendor,
                                    show_rating: section.settings.show_rating,
                                    show_quick_add: section.settings.enable_quick_add,
                                    section_id: section.id
                                    %}
                                </li>
                                {%- else -%}
                                {%- for i in (1..4) -%}
                                    <li class="grid__item">
                                    {% render 'card-product', show_vendor: section.settings.show_vendor %}
                                    </li>
                                {%- endfor -%}
                                {%- endfor -%}
                            </xmp>
                        </pre>

                        <h2>Schema</h2>
                        <pre>
                            <xmp>
                                "settings": [
                                    {
                                            "type": "collection",
                                            "id": "collection",
                                            "label": "Chose Collection to show"
                                    }
                                ]
                            </xmp>
                        </pre>
                    </div>

                    <div class="tab_info quantity">
                        <h2>HTML</h2>
                        <pre>
                            <xmp>
                                <!-- custom quantity change start -->
                                <div class="quantity-block">
                                    <button type="button" class="quantity-arrow-minus">-</button>
                                    <input
                                    min="1"
                                    type="number"
                                    id="{{ product_form_id }}"
                                    name="quantity"
                                    value="1"
                                    class="quantity-num"
                                    form="{{ product_form_id }}"
                                    >
                                    <button type="button" class="quantity-arrow-plus">+</button>
                                </div>
                            </xmp>
                        </pre>

                        <h2>CSS</h2>
                        <pre>
                            <xmp>
                                .quantity-block{
                                    position: relative;
                                    padding-left: 10px;
                                    margin: inherit;
                               }
                                .quantity-num{
                                    text-align: center;
                                    border: none;
                                    background-color: #D6D6D6;
                                    border-radius: 50px;
                                    width: 75px;
                                    font-size: 14px;
                                    height: 33px;
                                    color: #828282;
                               }
                                .quantity-arrow-minus{
                                    position: absolute;
                                    left: 10px;
                                    background: transparent;
                                    border: none;
                                    padding: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    color: #828282;
                                    font-size: 14px;
                                    width: 25px;
                               }
                                .quantity-arrow-plus{
                                    position: absolute;
                                    right: 2px;
                                    background: transparent;
                                    border: none;
                                    padding: 0;
                                    top: 52%;
                                    transform: translateY(-50%);
                                    color: #828282;
                                    font-size: 14px;
                                    width: 25px;
                               }
                               @media (max-width: 749px) {
                                .quantity-num{
                                    width: 100px;
                                    height: 40px;
                                }
                            
                                .quantity-arrow-plus{
                                    font-size: 18px;
                                    width: 36px;
                                }
                            
                                .quantity-arrow-minus{
                                    font-size: 18px;
                                    width: 36px;
                                }
                               }
                            </xmp>
                        </pre>

                        <h2>JS</h2>
                        <pre>
                            <xmp>
                                <script>
                                    $('.quantity-arrow-plus').click(function () {
                                        console.log($(this));
                                        if ($(this).prev().val() < 5) {

                                            const qv = $(this).prev().val();

                                            $(this).prev().val(parseInt(qv) + 1);
                                        }
                                    });
                                    $('.quantity-arrow-minus').click(function () {
                                        if ($(this).next().val() > 1) {
                                            if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
                                        }
                                    });
                                </script>
                            </xmp>
                        </pre>
                    </div>

                    <div class="tab_info blogs">
                        <pre>
                            <xmp>
                                {%- for article in section.settings.blog2.articles limit: section.settings.post_limit -%}
                                                    <div>
                                                        <a href="{{ article.url }}">
                                                        {% if article.image %}
                                                            <img src="{{ article | img_url: 'master' }}" alt="{{ article.alt }}" class="img-responsive">
                                                        {% endif %}
                                                        <div class="article_content">
                                                            <p class="blog-category">{{ article.handle | split: '/' | first }}</p>
                                                            <h3 class="article-title">{{ article.title }}</h3>
                                                            <p>{{ article.excerpt_or_content | strip_html | truncatewords: 13 }}</p>
                                                        </div>
                                                        </a>
                                                    </div>
                                {% endfor %}
                            </xmp>
                        </pre>
                    </div>

                    <div class="tab_info metafields">
                        <h2>Liquid code</h2>
                        <pre>
                            <xmp>
                                {% assign faq_meta = product.metafields.custom.faqs.value %}
                                {% assign faqsteps = faq_meta.steps %}
                                {% for faqstep in faqsteps %}
                                    <div class="faq_box toTop" data-scroll>
                                    <a href="javascript:void(0)" class="faq_title">
                                        {{ faqstep.question }}
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <div class="content">
                                        <p class="text_xxs">{{ faqstep.answer }}</p>
                                    </div>
                                    </div>
                                {% endfor %}
                            </xmp>
                        </pre>

                        <h2>Metafield data (schema type JSON)</h2>
                        <pre>
                            <xmp>
                                {
                                    "steps": [
                                      {
                                        "question": "Question 1",
                                        "answer": "Lorem ipsum dolor sit amet. Id omnis molestias ut esse internos et galisum voluptatem sed perferendis dolor sit voluptas iste."
                                      },
                                      {
                                        "question": "Question 2",
                                        "answer": "Lorem ipsum dolor sit amet. Id omnis molestias ut esse internos et galisum voluptatem sed perferendis dolor sit voluptas iste."
                                      }
                                    ]
                                  }
                            </xmp>
                        </pre>
                    </div>

                    <div class="tab_info preset">
                        <pre>
                            <xmp>
                                "presets":[
                                    {
                                    "name":"banner slider",
                                    "category":"custom"
                                    }
                                ]
                            </xmp>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="global.js"></script>
</body>

</html>